@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicionando nossas classes customizadas para as bordas pixeladas */
.pixel-border {
  border: 4px solid;
  border-image: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="4" height="4" fill="%2300ffff"/><rect x="8" y="0" width="4" height="4" fill="%2300ffff"/><rect x="0" y="8" width="4" height="4" fill="%2300ffff"/><rect x="8" y="8" width="4" height="4" fill="%2300ffff"/></svg>')
    4 repeat;
  box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
  @apply border-retro-electric-blue mb-8; /* Usando @apply para misturar com classes do Tailwind */
}

.pixel-border-top {
  border-top: 4px solid;
  border-image-source: url('data:image/svg+xml,<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="4" height="4" fill="%2300ffff"/><rect x="8" y="0" width="4" height="4" fill="%2300ffff"/></svg>');
  border-image-slice: 4;
  border-image-repeat: repeat;
  @apply border-retro-electric-blue;
}
